# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
   name = Gerrit Heinen
   email = mail@gerritheinen.com

[core]
   fileMode

[diff]
   tool = vimdiff                  # use for difftool command

[merge]
   tool = vimdiff                  # use for mergetool command

[mergetool]
   keepBackup

[credential]
   helper = osxkeychain

[alias]
   a = !git add . && git status
   aa = !git add . && git add -u . && git status
   ac = !git add . && git commit
   acm = !git add . && git commit -m
   alias = !git config --list | grep 'alias\\.' | sort -u | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/'
   au = !git add -u . && git status
   c = commit
   ca = commit --amend
   cm = commit -m
   d = diff
   dt = difftool
   f = fetch
   f = fetch
   h = help
   l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
   lg = log --color --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
   ll = log --stat --abbrev-commit
   llg = log --color --graph --pretty=format:'%C(bold white)%H %d%Creset%n%s%n%+b%C(bold blue)%an <%ae>%Creset %C(bold green)%cr (%ci)' --abbrev-commit
   m = merge
   master = checkout master
   mt = mergetool
   p = push
   pu = pull
   pur = pull --rebase
   s = status
